.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width:100%;
}
.header{
    display: grid;
    height: 200px;
    width: 100%;
    
}
.main{
    display: grid;
    height: 200px;
    width: 100%;
    
    
}
.body{
    
    display: grid;
    height: 300px;
    width: 100%;
   
}
.footer{
    display: grid;
    height: 200px;
    width: 100%;
    
}
img{
    height: 100%;
    

}